In [1]:
import pandas as pd

### World-wide Cases, Deaths and Vaccination Data

In [2]:
df_covid_world = pd.read_csv('owid_covid_data.csv')
df_covid_world.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN

In [3]:
df_covid_world.shape

(173027, 67)

In [4]:
df_covid_world.columns

Index(['iso_code', 'continent', 'location', 'date', 'total_cases', 'new_cases',
       'new_cases_smoothed', 'total_deaths', 'new_deaths',
       'new_deaths_smoothed', 'total_cases_per_million',
       'new_cases_per_million', 'new_cases_smoothed_per_million',
       'total_deaths_per_million', 'new_deaths_per_million',
       'new_deaths_smoothed_per_million', 'reproduction_rate', 'icu_patients',
       'icu_patients_per_million', 'hosp_patients',
       'hosp_patients_per_million', 'weekly_icu_admissions',
       'weekly_icu_admissions_per_million', 'weekly_hosp_admissions',
       'weekly_hosp_admissions_per_million', 'total_tests', 'new_tests',
       'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand',
       'positive_rate', 'tests_per_case', 'tests_units', 'total_vaccinations',
       'people_vaccinated', 'people_fully_vaccinated', 'total_boosters',
       'new_vaccinations', 'new_vaccinations_smoothed',
       'total_vaccinations_per_hundred', 'people_vaccinated_per_hundred',
       'people_fully_vaccinated_per_hundred', 'total_boosters_per_hundred',
       'new_vaccinations_smoothed_per_million',
       'new_people_vaccinated_smoothed',
       'new_people_vaccinated_smoothed_per_hundred', 'stringency_index',
       'population', 'population_density', 'median_age', 'aged_65_older',
       'aged_70_older', 'gdp_per_capita', 'extreme_poverty',
       'cardiovasc_death_rate', 'diabetes_prevalence', 'female_smokers',
       'male_smokers', 'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy', 'human_development_index',
       'excess_mortality_cumulative_absolute', 'excess_mortality_cumulative',
       'excess_mortality', 'excess_mortality_cumulative_per_million'],
      dtype='object')

In [6]:
cols_to_keep = ['location', 'date', 'new_cases', 'new_deaths', 'total_cases', 'total_deaths',
                'people_vaccinated', 'people_vaccinated_per_hundred',
                'population_density', 'extreme_poverty', 'handwashing_facilities',
               ]
df_covid_world_sub = df_covid_world[cols_to_keep]
df_covid_world_sub.tail(10)

,location,date,new_cases,new_deaths,total_cases,total_deaths,people_vaccinated,people_vaccinated_per_hundred,population_density,extreme_poverty,handwashing_facilities
173017,Zimbabwe,2022-03-21,233.0,3.0,244685.0,5429.0,4432618.0,29.37,42.729,21.4,36.791
173018,Zimbabwe,2022-03-22,0.0,0.0,244685.0,5429.0,4503937.0,29.84,42.729,21.4,36.791
173019,Zimbabwe,2022-03-23,273.0,3.0,244958.0,5432.0,4589712.0,30.41,42.729,21.4,36.791
173020,Zimbabwe,2022-03-24,236.0,0.0,245194.0,5432.0,4704720.0,31.17,42.729,21.4,36.791
173021,Zimbabwe,2022-03-25,451.0,4.0,245645.0,5436.0,4814582.0,31.90,42.729,21.4,36.791
173022,Zimbabwe,2022-03-26,0.0,0.0,245645.0,5436.0,4886242.0,32.38,42.729,21.4,36.791
173023,Zimbabwe,2022-03-27,175.0,2.0,245820.0,5438.0,4918147.0,32.59,42.729,21.4,36.791
173024,Zimbabwe,2022-03-28,107.0,0.0,245927.0,5438.0,4975433.0,32.97,42.729,21.4,36.791
173025,Zimbabwe,2022-03-29,115.0,1.0,246042.0,5439.0,5053114.0,33.48,42.729,21.4,36.791
173026,Zimbabwe,2022-03-30,140.0,1.0,246182.0,5440.0,5175175.0,34.29,42.729,21.4,36.791

In [9]:
df_covid_world_sub.to_csv('world_covid_hist_data.csv', index=False)

### US Cases and Deaths by State over Time

In [10]:
df_us_hist = pd.read_csv('us_covid_cases_historical.csv', parse_dates=['submission_date'])
df_us_hist.head()

,submission_date,state,tot_cases,conf_cases,prob_cases,new_case,pnew_case,tot_death,conf_death,prob_death,new_death,pnew_death,created_at,consent_cases,consent_deaths
0,2022-01-14,KS,621273,470516.0,150757.0,19414,6964.0,7162,NaN,NaN,21,4.0,01/15/2022 02:59:30 PM,Agree,NaN
1,2022-01-02,AS,11,NaN,NaN,0,0.0,0,NaN,NaN,0,0.0,01/03/2022 03:18:16 PM,NaN,NaN
2,2020-08-22,AR,56199,NaN,NaN,547,0.0,674,NaN,NaN,11,0.0,08/23/2020 02:15:28 PM,Not agree,Not agree
3,2020-07-17,MP,37,37.0,0.0,1,0.0,2,2.0,0.0,0,0.0,07/19/2020 12:00:00 AM,Agree,Agree
4,2020-08-12,AS,0,NaN,NaN,0,0.0,0,NaN,NaN,0,0.0,08/13/2020 02:12:28 PM,NaN,NaN

In [11]:
# convert date to yyyy-mm-dd format as str to keep consistency
df_us_hist['date'] = df_us_hist['submission_date'].dt.strftime('%Y-%m-%d')
df_us_hist['date'].head()

0    2022-01-14
1    2022-01-02
2    2020-08-22
3    2020-07-17
4    2020-08-12
Name: date, dtype: object

In [13]:
df_us_hist_sub = df_us_hist[['state', 'date', 'new_case', 'new_death', 'tot_cases', 'new_death']]

In [14]:
df_us_hist_sub.rename({'new_case': 'new_cases', 'new_death': 'new_deaths',
                      'tot_death': 'total_deaths', 'tot_cases': 'total_cases'}, axis=1, inplace=True)

/opt/miniconda3/envs/cs610/lib/python3.8/site-packages/pandas/core/frame.py:4438: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [15]:
df_us_hist_sub.shape

(47940, 6)

### US Vaccination Data by State over Time

In [16]:
df_us_vac = pd.read_csv('us_covid_data_0331.csv', parse_dates=['Date'])
df_us_vac.head()

,Date,MMWR_week,Location,Distributed,Distributed_Janssen,Distributed_Moderna,Distributed_Pfizer,Distributed_Unk_Manuf,Dist_Per_100K,Distributed_Per_100k_12Plus,...,Administered_Dose1_Recip_5PlusPop_Pct,Series_Complete_5Plus,Series_Complete_5PlusPop_Pct,Administered_5Plus,Admin_Per_100k_5Plus,Distributed_Per_100k_5Plus,Series_Complete_Moderna_5Plus,Series_Complete_Pfizer_5Plus,Series_Complete_Janssen_5Plus,Series_Complete_Unk_Manuf_5Plus
0,2022-03-31,13,HI,3354880,124400,1250320,1980160,0,236948,277009,...,92.4,1100601.0,82.7,2837304.0,213226.0,252123.0,362813.0,672750.0,65024.0,14.0
1,2022-03-31,13,KY,8586875,380000,3543500,4663375,0,192200,225604,...,70.0,2546268.0,60.7,6397558.0,152502.0,204690.0,973289.0,1361033.0,210133.0,1813.0
2,2022-03-31,13,CT,8455925,341400,3263380,4851145,0,237174,272249,...,95.0,2794757.0,82.6,7389153.0,218383.0,249911.0,942312.0,1621650.0,230346.0,449.0
3,2022-03-31,13,WI,11219245,450900,4187800,6580545,0,192690,224394,...,75.7,3789486.0,69.0,9977930.0,181683.0,204286.0,1329079.0,2160045.0,299502.0,860.0
4,2022-03-31,13,FL,46455485,2356000,17203120,26896365,0,216296,248478,...,83.0,14269923.0,70.2,36538250.0,179655.0,228417.0,4843947.0,8032870.0,1353879.0,39227.0

In [17]:
# convert date to yyyy-mm-dd format as str to keep consistency
df_us_vac['date'] = df_us_vac['Date'].dt.strftime('%Y-%m-%d')
df_us_vac['date'].head()

0    2022-03-31
1    2022-03-31
2    2022-03-31
3    2022-03-31
4    2022-03-31
Name: date, dtype: object

In [18]:
df_us_vac.Location.unique()

array(['HI', 'KY', 'CT', 'WI', 'FL', 'MI', 'MP', 'DD2', 'VA', 'MN', 'OK',
       'AS', 'IN', 'NE', 'IL', 'MO', 'UT', 'US', 'MD', 'ID', 'CA', 'NJ',
       'PR', 'MA', 'VT', 'PW', 'NY', 'OH', 'AK', 'SD', 'AR', 'BP2', 'MT',
       'TN', 'MH', 'AZ', 'KS', 'NM', 'IH2', 'MS', 'RI', 'PA', 'WA', 'VA2',
       'GU', 'ND', 'NH', 'GA', 'NC', 'DE', 'WV', 'FM', 'DC', 'AL', 'ME',
       'CO', 'TX', 'WY', 'IA', 'SC', 'OR', 'NV', 'VI', 'LA', 'RP', 'LTC'],
      dtype=object)

In [19]:
df_us_vac_sub = df_us_vac[['date', 'Location', 'Administered_Dose1_Pop_Pct']]
df_us_vac_sub.rename({'Location': 'state', 'Administered_Dose1_Pop_Pct': 'people_vaccinated_per_hundred'},
                     axis=1, inplace=True)

/opt/miniconda3/envs/cs610/lib/python3.8/site-packages/pandas/core/frame.py:4438: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [20]:
df_us_vac_sub.shape

(30552, 3)

In [21]:
# merge two dataframes
df_us_hist_vac = df_us_hist_sub.merge(df_us_vac_sub, how='left', on=['state', 'date'])

In [22]:
df_us_hist_vac.shape

(47940, 7)

In [23]:
df_us_hist_vac.sort_values(['state', 'date'])

,state,date,new_cases,new_deaths,total_cases,new_deaths,people_vaccinated_per_hundred
4917,AK,2020-01-22,0,0,0,0,NaN
372,AK,2020-01-23,0,0,0,0,NaN
2919,AK,2020-01-24,0,0,0,0,NaN
40964,AK,2020-01-25,0,0,0,0,NaN
44144,AK,2020-01-26,0,0,0,0,NaN
...,...,...,...,...,...,...,...
19590,WY,2022-03-26,0,0,156056,0,58.3
36914,WY,2022-03-27,0,0,156056,0,58.3
19496,WY,2022-03-28,0,0,156056,0,58.3
19992,WY,2022-03-29,56,8,156112,8,58.4
21816,WY,2022-03-30,0,0,156112,0,58.4

In [24]:
df_us_hist_vac.to_csv('us_vac_hist.csv', index=False)

### US Vaccination Data by Age and Race Group
**Only take the most recent snapshot**

In [25]:
df_us_vac_demo = pd.read_csv('us_covid_demographics_data_0331.csv', parse_dates=['Date'])
# convert date to yyyy-mm-dd format as str to keep consistency
df_us_vac_demo['date'] = df_us_vac_demo['Date'].dt.strftime('%Y-%m-%d')
df_us_vac_demo['date'].head()

0    2022-03-31
1    2022-03-31
2    2022-03-31
3    2022-03-31
4    2022-03-31
Name: date, dtype: object

In [26]:
df_us_vac_demo.Demographic_category.unique()

array(['Sex_unknown', 'Ages_<12yrs', 'Race_eth_unknown', 'Ages_12-15_yrs',
       'Race_eth_NHOther', 'Race_eth_NHBlack', 'Ages_75+_yrs',
       'Race_eth_NHNHOPI', 'Race_eth_Hispanic', 'Race_eth_NHMult_Oth',
       'Ages_50-64_yrs', 'Race_eth_NHMultiracial', 'Ages_<5yrs',
       'Ages_16-17_yrs', 'Ages_12-17_yrs', 'Ages_5-11_yrs', 'Age_known',
       'Sex_Female', 'Ages_40-49_yrs', 'Sex_Male', 'Race_eth_NHAsian',
       'Ages_65-74_yrs', 'Ages_25-39_yrs', 'Age_unknown', 'US',
       'Sex_known', 'Ages_18-24_yrs', 'Race_eth_known', 'Race_eth_NHAIAN',
       'Race_eth_NHWhite'], dtype=object)

In [27]:
race_groups = ['Race_eth_unknown', 'Race_eth_NHOther', 'Race_eth_NHBlack', 'Race_eth_NHNHOPI',
              'Race_eth_Hispanic', 'Race_eth_NHMultiracial', 'Race_eth_NHAsian',
              'Race_eth_NHAIAN', 'Race_eth_NHWhite']
df_us_vac_race = df_us_vac_demo[df_us_vac_demo['Demographic_category'].isin(race_groups)]
df_us_vac_race_latest = df_us_vac_race[df_us_vac_race['date']=='2022-03-31']

In [28]:
df_us_vac_race_latest.Administered_Dose1_pct_US.sum()

100.0

In [29]:
df_us_vac_race_latest_sub = df_us_vac_race_latest[['date', 'Demographic_category', 'Administered_Dose1_pct_US']]
df_us_vac_race_latest_sub.rename({'Demographic_category': 'race_group'}, axis=1, inplace=True)

df_us_vac_race_latest_sub

/opt/miniconda3/envs/cs610/lib/python3.8/site-packages/pandas/core/frame.py:4438: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

          date              race_group  Administered_Dose1_pct_US
2   2022-03-31        Race_eth_unknown                       25.6
4   2022-03-31        Race_eth_NHOther                        3.0
5   2022-03-31        Race_eth_NHBlack                        7.6
7   2022-03-31        Race_eth_NHNHOPI                        0.2
8   2022-03-31       Race_eth_Hispanic                       15.4
11  2022-03-31  Race_eth_NHMultiracial                        1.5
20  2022-03-31        Race_eth_NHAsian                        5.0
28  2022-03-31         Race_eth_NHAIAN                        0.7
29  2022-03-31        Race_eth_NHWhite                       41.0

In [30]:
df_us_vac_race_latest_sub.to_csv('us_vac_by_race.csv', index=False)

In [31]:
df_us_vac_demo.Demographic_category.unique()

array(['Sex_unknown', 'Ages_<12yrs', 'Race_eth_unknown', 'Ages_12-15_yrs',
       'Race_eth_NHOther', 'Race_eth_NHBlack', 'Ages_75+_yrs',
       'Race_eth_NHNHOPI', 'Race_eth_Hispanic', 'Race_eth_NHMult_Oth',
       'Ages_50-64_yrs', 'Race_eth_NHMultiracial', 'Ages_<5yrs',
       'Ages_16-17_yrs', 'Ages_12-17_yrs', 'Ages_5-11_yrs', 'Age_known',
       'Sex_Female', 'Ages_40-49_yrs', 'Sex_Male', 'Race_eth_NHAsian',
       'Ages_65-74_yrs', 'Ages_25-39_yrs', 'Age_unknown', 'US',
       'Sex_known', 'Ages_18-24_yrs', 'Race_eth_known', 'Race_eth_NHAIAN',
       'Race_eth_NHWhite'], dtype=object)

In [32]:
age_groups = ['Ages_12-15_yrs', 'Ages_75+_yrs', 'Ages_50-64_yrs',
              'Ages_<5yrs', 'Ages_16-17_yrs', 'Ages_5-11_yrs',
             'Ages_40-49_yrs', 'Ages_65-74_yrs', 'Ages_25-39_yrs', 'Ages_18-24_yrs']
df_us_vac_age = df_us_vac_demo[df_us_vac_demo['Demographic_category'].isin(age_groups)]
df_us_vac_age_latest = df_us_vac_age[df_us_vac_age['date']=='2022-03-31']

In [33]:
df_us_vac_age_latest.Administered_Dose1_pct_US.sum()

99.99999999999999

In [34]:
df_us_vac_age_latest = df_us_vac_age_latest[['date', 'Demographic_category', 'Administered_Dose1_pct_US']]
df_us_vac_age_latest.rename({'Demographic_category': 'age_group'}, axis=1, inplace=True)

df_us_vac_age_latest

          date       age_group  Administered_Dose1_pct_US
3   2022-03-31  Ages_12-15_yrs                        4.4
6   2022-03-31    Ages_75+_yrs                        8.9
10  2022-03-31  Ages_50-64_yrs                       23.0
12  2022-03-31      Ages_<5yrs                        0.0
13  2022-03-31  Ages_16-17_yrs                        2.4
15  2022-03-31   Ages_5-11_yrs                        3.9
18  2022-03-31  Ages_40-49_yrs                       13.7
21  2022-03-31  Ages_65-74_yrs                       13.1
22  2022-03-31  Ages_25-39_yrs                       21.3
26  2022-03-31  Ages_18-24_yrs                        9.3

In [35]:
df_us_vac_age_latest.to_csv('us_vac_by_age.csv', index=False)